<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->

<%- include('./templates/header') %>

<h1 class="centered">This is where the user's input details is shared.</h1>
<h2 class="centered">CSV is printed to console.</h2>

<script>
  console.log(`CSV Data:\n<%- parsedData %>`);
</script>

<%- include('./templates/footer') %>

<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>