<%- include('./templates/htmlOpen') %>
<!-- Stylesheets added here -->
<%- include('./templates/header') %>

<!-- Welcome -->
<br><div class="d-flex justify-content-center">
    <h1>Welcome!</h1>
</div><br>

<!-- New Music Title -->
<div class="d-flex justify-content-center">
    <h3>Songs For You:<br></h3>
</div>

<!-- Find Music Button -->
<div class="d-flex justify-content-center">
    <a href="/inputSong">
      <button class="btn btn-primary btn-lg" style="background-color: blue;">Find New Music</button>
    </a>
  </div>
  

<!-- Music Display -->
<div class="card-container d-flex justify-content-start centered">
    <% inputArray.forEach(function(entry) { %>
    <%- include('./templates/songCard', { entry: entry }) %>
    <% }) %>
</div>



<!-- Find Music Search -->
<div class="d-flex justify-content-center">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><img src="https://dummyimage.com/30X30/0011ff/" alt="Search Icon Standin"></span>
        </div>
        <input type="text" class="form-control" placeholder="Enter Music" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
    </div>
</div><br>

<%- include('./templates/footer') %>

<!-- js scripts added here -->

<%- include('./templates/htmlClose') %>