<%- include('./templates/htmlOpen') %>
<!-- Stylesheets added here -->

<%- include('./templates/header') %>

<br>
<div class="centered">
  <h1>Choose your tags</h1>
  <form method="get" action="/pickTags">
    <input type="text" name="search" placeholder="Search tags">
    <button type="submit">Search</button>
  </form>
  <br>
  <form method="post" action="/updateTags">
    <ul>
      <% for (let i = 0; i < tags.length; i++) { %>
        <li style="display: inline">
          <label for="tag<%= i %>"><%= tags[i] %></label>
          <select name="actions">
            <option value=""></option>
            <option value="add" <% if (pickedTags.includes(tags[i])) { %>selected<% } %>>Add</option>
            <option value="blacklist" <% if (blacklistedTags.includes(tags[i])) { %>selected<% } %>>Blacklist</option>
          </select>
          <input type="hidden" name="tags" value="<%= tags[i] %>">
        <br></li>
      <% } %>
    </ul>
    <div class="centered" style="display: flex">
      <button type="submit" style="background-color: lightgreen;">Submit</button>
      <div style="margin-left: 10px;"></div>
      <form method="post" action="/resetTags">
        <button type="submit" style="background-color: lightcoral;">Reset tags</button>
      </form>
    </div>
  </form>
</div>



<%- include('./templates/footer') %>

<!-- js scripts added here -->

<%- include('./templates/htmlClose') %>