<%- include('./templates/htmlOpen') %>
<!-- Stylesheets added here -->

<%- include('./templates/header') %>

<br>
<div class="centered">
  <h1>Choose your genre tags</h1>
  <form method="get" action="/pickTags">
    <input type="text" name="search" placeholder="Search tags" value="<%= searchQuery %>">
    <button type="submit">Search</button>
  </form>
  <br>
    <form method="post" action="/updateTags">
      <div class="tag-container">
      <% if (tags.length === 0) { %>
        <h4>No tags found</h4>
      <% } else { %>
      <ul>
        <% for (let i = 0; i < tags.length; i++) { %>
          <li style="display: inline">
            <label for="tag<%= i %>"><%= tags[i] %></label>
            <select name="actions">
              <option value=""></option>
              <option value="add" <% if (pickedTags.includes(tags[i])) { %>selected<% } %>>Add</option>
              <option value="blacklist" <% if (blacklistedTags.includes(tags[i])) { %>selected<% } %>>Blacklist</option>
            </select>
            <input type="hidden" name="tags" value="<%= tags[i] %>">
            <br>
          </li>
        <% } %>
      </ul>
      <% } %>
    </ul>
    <div class="button-group">
      <button type="submit" style="background-color: lightgreen;">Submit</button>
      <button type="button" onclick="resetTags()" style="background-color: lightcoral;">Reset tags</button>
    </div>
  </form>
</div>

<script>
  function resetTags() {
    // Create a hidden form dynamically
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/resetTags");
    form.style.display = "none";

    // Append the form to the document body
    document.body.appendChild(form);

    // Submit the form
    form.submit();
  }
</script>


<%- include('./templates/footer') %>

<!-- js scripts added here -->

<%- include('./templates/htmlClose') %>