<%- include('./templates/htmlOpen') %>
<!-- Stylesheets added here -->
<link rel="stylesheet" href="../styling/profilePageStylesheet.css" />
<style>
  /* Adjust the profile pic and username layout for smaller screens */
  @media (max-width: 576px) {
    .profileDisplay {
      flex-direction: column;
      align-items: center;
    }
    #username {
      margin-top: 10px;
    }
  }
</style>

<%- include('./templates/header') %>

<!-- These values to be converted to read from database. -->
<% const username = "currentUser" %> <% const profileLink =
"https://dummyimage.com/200x200/000/fff" %> <% const songs = user.playlists; %>

<!-- Assembly of pic & username -->
<!-- Assembly of pic & username -->
<div class="profileDisplay d-flex justify-content-center">
  <img id="profilePic" src="<%- user.pfp %>" alt="Profile Picture" />
  <h1 id="username"><%- userName %></h1>
</div>

<!-- Edit Username Form -->
<form
  id="usernameForm"
  action="/editUsername"
  method="POST"
  style="display: none"
>
  <label for="username">New Username:</label>
  <input type="text" id="username" name="username" />
  <input type="submit" value="Change Username" />
</form>

<!-- Edit PFP From -->
<form
  id="profilePictureForm"
  action="/editPhoto"
  method="POST"
  enctype="multipart/form-data"
  style="display: none"
>
  <input
    type="file"
    name="profilePicture"
    id="profilePictureInput"
    accept="image/*"
  />
  <button type="submit">Upload</button>
</form>

<button id="editUsernameButton">Edit Username</button>
<button id="editPfpButton">Update Profile Picture</button>

<!-- This user's playlists -->
<br />
<div id="userPlaylists">
  <h3><%- userName %>'s Playlists</h3>
  <% if (songs.length === 0) { %>
    <p>You have no playlists right now!</p>
    <button onclick="location.href='/addMusic'">Create Playlist</button>
  <% } else { %>
    <ul class="list-group">
      <% songs.forEach(function(song) { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= song %>
          <!-- TODO: Add link to playlist page -->
          <!-- TODO: Add delete button -->
          <button class="btn btn-danger btn-sm deleteButton" data-song="<%= song %>">Delete</button>
        </li>
      <% }); %>
    </ul>
  <% } %>
</div>



<%- include('./templates/footer') %>

<!-- js scripts added here -->
<script>
  document
    .getElementById("editUsernameButton")
    .addEventListener("click", function () {
      document.getElementById("usernameForm").style.display = "block";
    });

  document
    .getElementById("editPfpButton")
    .addEventListener("click", function () {
      document.getElementById("profilePictureForm").style.display = "block";
    });
</script>

<%- include('./templates/htmlClose') %>
