<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->
<link rel="stylesheet" href="../styling/successCSS.css">

<%- include('./templates/header') %>

<h1 class="centered">Spotify Loaded</h1>

<form onsubmit="handleFormSubmit(event)" class="centered">
  <label for="playlistURL">Playlist URL:</label>
  <input type="text" id="playlistURL" name="playlistURL">
  <button type="submit">Submit</button>
</form><br>

<% if (inputArray && inputArray.length) { %>
  <h3 class="centered"> Code: <%= playlistCode %></h3><br>

  <div class="card-container d-flex justify-content-start centered">
    <% inputArray.forEach(function(entry) { %>
      <%- include('./templates/songCard', { entry: entry }) %>
    <% }) %>
  </div>
<% } %>

<script src="../scripts/spotifyUser.js"></script>
<script src="../scripts/successJS.js"></script>
<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>
