<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->

<%- include('./templates/header') %>

<br>
<div class="text-center">
  <% if (!isLoggedIn) { %>
    <h1 class="site-welcome-head">Welcome to SoundScope!</h2>
      <div>Soundscope uses AI technology to help you, the user, find new music and artists when you get bored of listening to the same music all the time.</div>
      <div>To use SoundScope, all you have to do is give us some of your favorite songs and SoundScope will then give you a playlist of new</div>
      <div>music that we think you might like!</div>
      <br><br><br>
    <h2>Please signup or login</h2>
    <button onclick="location.href='/signup'">Sign Up</button>
    <button onclick="location.href='/login'">Login</button>
  <% } else { %>
    <h1>Welcome back, <%= userName %>!<br>Please select one</h1>
    <button onclick="location.href='/home'">Enter!</button>
    <button onclick="location.href='/logout'">Logout</button>
    <button onclick="location.href='/changePassword'">Change Password</button>
  <% } %>
</div>

<%- include('./templates/footer') %>

<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>