<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->
<link rel="stylesheet" href="/styling/welcomePage.css">

<%- include('./templates/header') %>

<br>
<div class="text-center">
  <% if (!isLoggedIn) { %>
    <h1 class="site-welcome-head">Welcome to SoundScope!</h2>
    
    <p>Soundscope uses AI technology to help you discover new music tailored to your taste. Tired of looping the same songs? We've got you covered!</p>
    <p>To start exploring, sign up or log in, give us some of your favorite songs, and let SoundScope create a unique playlist just for you. Dive into the world of music like never before.</p>
    <br><br><br>
    <h2>Ready to start your musical journey?</h2>
    <button id="signup-button" onclick="location.href='/signup'">Sign Up</button>
    <button id="login-button" onclick="location.href='/login'">Login</button>
  <% } else { %>
    <h1>Welcome back, <%= userName %>!<br>Let's find some great music today.</h1>
    <button id="enter-button" onclick="location.href='/home'">Enter</button>
    <button id="logout-button" onclick="location.href='/logout'">Logout</button>
    <button id="change-password-button" onclick="location.href='/changePassword'">Change Password</button>
  <% } %>
</div>

<%- include('./templates/footer') %>

<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>
