<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->

<%- include('./templates/header') %>

<br>
<div class="text-center">
  <% if (!isLoggedIn) { %>
    <h2>Please signup or login</h2>
    <button onclick="location.href='/signup'">Sign Up</button>
    <button onclick="location.href='/login'">Login</button>
  <% } else { %>
    <h1>Welcome back, <%= userName %>!<br>Please select one</h1>
    <button onclick="location.href='/home'">Enter!</button>
    <button onclick="location.href='/logout'">Logout</button>
    <button onclick="location.href='/changePassword'">Change Password</button>
  <% } %>
</div>

<%- include('./templates/footer') %>

<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>